@import "~quill/dist/quill.snow.css";
html,
body {
  display: block;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: block;
  height: 100%;
}
