.grid-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  display: block;
  height: 100%;
  background-color: aqua;
}

.grid {
  flex: 1;
}

.action-bar {
  padding-top: 8px;
  padding-bottom: 8px;
}
