.grid-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.item-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: lightblue;
}

.item-content {
  flex: 1;
}

.item-action-bar {
  display: flex;
}

.item-action-bar > span {
  flex: 1;
}

.grid {
  flex: 1;
}

.action-bar {
  padding-top: 8px;
  padding-bottom: 8px;
}
