.top-row {
  display: block;
  padding: 16px;
}

.grid-container {
  display: block;
  background-color: lightgray;
}

.item {
  display: flex !important;
  flex-direction: column;
  box-sizing: border-box;
}

mat-card {
  margin: 8px;
  flex: 1;
}

::ng-deep .grid-item-resize-icon {
  transform: translate(-10px, -10px);
}
