.action-bar {
  display: flex;
  flex-direction: column;
  padding-right: 8px;
  padding-top: 16px;
}

div.actions {
  display: flex;
  flex-direction: column;
}

.add-button {
  margin-bottom: 16px;
}

.save-button {
  margin-top: 16px;
  margin-bottom: 16px;
}
