.action-bar {
  display: flex;
  flex-direction: column;
  padding: 16px 8px 16px 8px;
  padding-right: 8px;
  padding-top: 16px;
  height: 100%;
  box-sizing: border-box;
}

div.actions {
  display: flex;
  flex-direction: column;
}

.add-button {
  margin-bottom: 16px;
}

.white {
  background-color: #fff;
}

.save-button {
  margin-top: 16px;
  margin-bottom: 16px;
}
