:host {
  display: block;
  height: 100%;
}

div {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.item-n {
  background-color: aqua;
  flex: 1;
}
.item-a {
  flex: 1;
  background-color: lightcoral;
}
.item-b {
  flex: 1;
  background-color: lightgreen;
}
.item-l {
  flex: 1;
  display: block;
}
.item-p {
  flex: 1;
  background-color: lightseagreen;
}
