div {
  display: block;
  height: 100%;
}

.item-n {
  background-color: aqua;
}
.item-a {
  background-color: lightcoral;
}
.item-b {
  background-color: lightgreen;
}
.item-l {
  background-color: lightcyan;
}
.item-p {
  background-color: lightseagreen;
}
